<div class='container'>
  <div class='row'>
    <h4>jsonapi_suite sample app</h4>
  </div>

  <div class='row'>
    {{outlet}}
  </div>
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
